body {
    margin: 0;
    padding: 0;
    color:white;
    background:rgb(22, 22, 22);
    font-family: "Quicksand";
    background-image: url("1.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
}

/* Navbar*/
.navbar{
    animation: navanimation;
    animation-duration: 0.5s;
    z-index:4;
}


@keyframes navanimation{
    from{
        margin-top:-50px;
        opacity:0;
    }
    to{
        margin-top:0px;
        opacity:1;
    }
}

.navbar-icons,.search-btn > i {
    padding-right: 5px;
    font-size: 16px;
    color: lightgray;
}


.nav-item{
    margin-right:25px;
    margin-top:10px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.nav-item:hover{
    color:rgba(0, 0, 0, 0.74);
    font-size:18px;
}

.nav-item:hover > .navbar-icons{
    color:rgba(0, 0, 0, 0.87);
    font-size:18px;
    transition-duration: 0.3s;
}


.nav-item:not(:first-of-type){
    margin-top:16px;
}


/* searchbar */
.searchbox {  
    margin-top:-2px;
    background: transparent;
    height: 35px;
    border-radius: 60px;
    border:2px solid transparent;
}

.searchbox:hover{
    border:2px solid rgb(221, 221, 221);
}

.searchbox:hover > .search-txt {
    width: 180px;
    padding: 0 12px;
}


.search-btn {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    background:transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    cursor: pointer;
}
   
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    padding-left:3px;
    color: white;
    font-size: 15px;
    transition: 0.6s;
    line-height: 32px;
    width: 0px;
}



/* Home Page of Hosting And Voting Poll Sections */

.maindiv{
    /* background:rgba(194, 194, 194, 0.822); */
    animation: anim;    
    animation-duration: 0.6s;
}

@keyframes anim{
    from{
        margin-top:80px;
        opacity:0;
    }
    to{
        margin-top:0px;
        opacity:1;
    }
}

.hostvotebtn{
    border:1px solid white;
    color:white;
    transition-duration: 0.3s;
}

.hostvotebtn:hover{
    color:black;
    background:rgba(255, 255, 255, 0.795);
}

.divinmain{
    transition-duration: .3s;
}

.divinmain:hover{
    font-size:18;
}
