body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

/* Navbar*/
.navbar-icons {
    padding-right: 5px;
    font-size: 20px;
    color: lightgray;
}

.navbar-icons:hover{
    color:black;
}

.nav-item{
    margin-top:10px;
}

.nav-item:hover > .navbar-icons{
    color:black;
}

.nav-item{
    margin-right:20px;
}

.nav-item:not(:first-of-type){
    margin-top:16px;
}


.navbar-iconcolor:hover {
    color:black;
}

/* searchbar */
.searchbox {  
    position: relative;
    transform-origin: right;
    background: transparent;
    height: 35px;
    border-radius: 60px;
}

.searchbox:hover{
    border:1px solid;
}

.searchbox:hover > .search-txt {
    width: 180px;
    padding: 0 12px;
}
.search-btn {
    color: #e84118;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    background:transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    cursor: pointer;
}
   
.search-btn > i {
    font-size: 22px;
}
   
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    padding-left:3px;
    color: black    ;
    font-size: 15px;
    transition: 0.6s;
    line-height: 32px;
    width: 0px;
}



/* Home Page of Hosting And Voting Poll Seactions */

.h-100{
    border-radius: 5px;
    background:lightgrey;
    margin-top: 10px;
    padding: 20px;
}
