.polldiv{
    background: rgba(255, 255, 255, 0.3);
    margin-top:20px;
    padding-bottom: 30px;
    padding-top:10px;
}
.polls{
    background: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    padding: 20px;
    color: black;
    border-radius: 2px;
    overflow:hidden;
}

.polldiv,.polls{
        animation-timing-function: ease-in;
        animation: divanim;    
        animation-duration: 0.5s;
        /* animation-delay: 1s; */
}

.polldiv{
    animation-duration: .7s;
}
@keyframes divanim{
    from{
        margin-top:80px;
        opacity:0;
    }
    to{
        margin-top:20px;
        opacity:1;
    }
}

.govote {
    background-color:transparent;
    color: white !important;
    border: 2px white solid;
    transition-duration: .3s;
}

.govote:hover {
    background-color: white;
    color: black !important;
}